artifact/**
build/codegen/**
build/META-INF/**
build/production/**
src/dexter/frontend/clang/obj/**
test/basic/convolve.cpp
test/optimized/**
test/pipelines/**
test/legacy/**
.idea/*
src/META-INF/**
out/**