artifact/**
build/codegen/**
build/META-INF/**
build/production/**
src/dexter/frontend/clang/obj/**
test/basic/convolve.cpp
test/optimized/**
test/pipeline/**
test/legacy/**
src/META-INF/**
out/**
